@model Contact
@{
    ViewData["Title"] = "Delete Contact";
}

<h2>Delete Contact</h2>
<p>Do you really want to delete @Model.FirstName @Model.LastName</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Contact" asp-action="Details"
        asp-route-id="@Model.ContactId" 
        asp-route-slug="@Model.Slug" class="btn btn-primary">Cancel</a>
</form>
